{
  "openapi": "3.0.0",
  "info": {
    "title": "API",
    "description": "Backend API for georgesheppard.dev websites",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.georgesheppard.dev",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/api/recommendations/{id}": {
      "get": {
        "tags": ["recommendations"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Recommendation retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendations": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "author": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "reason": {
                            "type": "string"
                          },
                          "amazonLink": {
                            "type": "string"
                          }
                        },
                        "required": ["name", "author", "description", "reason", "amazonLink"]
                      }
                    },
                    "hasEmail": {
                      "type": "boolean"
                    },
                    "isRecurringMonthly": {
                      "type": "boolean"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    }
                  },
                  "required": ["recommendations", "hasEmail", "isRecurringMonthly", "success"]
                }
              }
            }
          },
          "404": {
            "description": "Recommendation not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [false]
                    }
                  },
                  "required": ["error", "success"]
                }
              }
            }
          },
          "422": {
            "description": "Unable to create recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [false]
                    }
                  },
                  "required": ["error", "success"]
                }
              }
            }
          }
        }
      }
    },
    "/api/recommendations/add-email": {
      "post": {
        "tags": ["recommendations"],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "recurring": {
                    "type": "string",
                    "enum": ["true", "false"]
                  }
                },
                "required": ["id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [true]
                        }
                      },
                      "required": ["success"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [false]
                        },
                        "error": {
                          "type": "string"
                        }
                      },
                      "required": ["success", "error"]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [true]
                        }
                      },
                      "required": ["success"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [false]
                        },
                        "error": {
                          "type": "string"
                        }
                      },
                      "required": ["success", "error"]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Recommendation not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [true]
                        }
                      },
                      "required": ["success"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [false]
                        },
                        "error": {
                          "type": "string"
                        }
                      },
                      "required": ["success", "error"]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/recommendations/delete-email": {
      "post": {
        "tags": ["recommendations"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": ["requestId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        }
      }
    },
    "/api/recommendations/from-bookcase": {
      "post": {
        "tags": ["recommendations"],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "bookcase": {
                    "type": "string",
                    "format": "binary",
                    "description": "One or more bookcase images. Multiple files can be uploaded with the same field name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recommendation request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    }
                  },
                  "required": ["id", "success"]
                }
              }
            }
          },
          "400": {
            "description": "No files uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [false]
                    }
                  },
                  "required": ["error", "success"]
                }
              }
            }
          },
          "500": {
            "description": "Failed to queue recommendation processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [false]
                    }
                  },
                  "required": ["error", "success"]
                }
              }
            }
          }
        }
      }
    },
    "/api/queue-due-recommendations": {
      "get": {
        "tags": ["cron"],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "API key for authentication"
            },
            "required": true,
            "description": "API key for authentication",
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "204": {
            "description": "Recommendations queued successfully"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        }
      }
    }
  }
}
