{
  "openapi": "3.0.0",
  "info": {
    "title": "API",
    "description": "Backend API for georgesheppard.dev websites",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.georgesheppard.dev",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "Recommendation": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "amazonLink": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "author",
          "description",
          "reason",
          "amazonLink"
        ]
      },
      "Recipe": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Recipe UUID"
          },
          "name": {
            "type": "string",
            "description": "Recipe name"
          },
          "description": {
            "type": "string",
            "description": "Recipe description"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            },
            "description": "Recipe images"
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Component"
            },
            "description": "Recipe components"
          }
        },
        "required": [
          "uuid",
          "name",
          "description",
          "images",
          "components"
        ]
      },
      "Image": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "number",
            "description": "Image timestamp"
          },
          "key": {
            "type": "string",
            "description": "S3 object key"
          },
          "presignedUrl": {
            "type": "string",
            "format": "uri",
            "description": "Presigned URL for downloading the image (undefined if generation failed)"
          }
        },
        "required": [
          "timestamp",
          "key"
        ]
      },
      "Component": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Component name"
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Component UUID"
          },
          "ingredients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ingredient"
            },
            "description": "List of ingredients"
          },
          "instructions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Instruction"
            },
            "description": "List of instructions"
          },
          "storeable": {
            "type": "boolean",
            "description": "Whether component can be made ahead"
          },
          "servings": {
            "type": "number",
            "description": "Number of servings"
          }
        },
        "required": [
          "name",
          "uuid",
          "ingredients",
          "instructions"
        ]
      },
      "Ingredient": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Ingredient name"
          },
          "quantity": {
            "$ref": "#/components/schemas/Quantity"
          }
        },
        "required": [
          "name",
          "quantity"
        ]
      },
      "Quantity": {
        "type": "object",
        "properties": {
          "unit": {
            "type": "string",
            "enum": [
              "none",
              "mL",
              "L",
              "g",
              "kg",
              "cup",
              "tsp",
              "tbsp",
              "quantity"
            ],
            "description": "Unit of measurement"
          },
          "value": {
            "type": "number",
            "description": "Numeric value"
          }
        },
        "required": [
          "unit"
        ]
      },
      "Instruction": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Instruction text"
          },
          "optional": {
            "type": "boolean",
            "description": "Whether this step is optional"
          }
        },
        "required": [
          "text"
        ]
      },
      "MealPlan": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/MealPlanDayEntry"
        }
      },
      "MealPlanDayEntry": {
        "type": "object",
        "properties": {
          "date": {
            "type": "number",
            "description": "Unix timestamp in milliseconds"
          },
          "plan": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MealPlanRecipe"
            },
            "description": "Recipes for this day"
          }
        },
        "required": [
          "date",
          "plan"
        ]
      },
      "MealPlanRecipe": {
        "type": "object",
        "properties": {
          "recipeId": {
            "type": "string",
            "format": "uuid",
            "description": "Recipe UUID"
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MealPlanComponent"
            },
            "description": "Recipe components"
          }
        },
        "required": [
          "recipeId",
          "components"
        ]
      },
      "MealPlanComponent": {
        "type": "object",
        "properties": {
          "componentId": {
            "type": "string",
            "format": "uuid",
            "description": "Recipe component UUID"
          },
          "servings": {
            "type": "number",
            "description": "Number of servings"
          }
        },
        "required": [
          "componentId",
          "servings"
        ]
      },
      "AdminMiseUserSummary": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "Cognito user ID (sub)"
          },
          "recipeCount": {
            "type": "number",
            "description": "Number of recipes owned by the user"
          },
          "hasMealPlan": {
            "type": "boolean",
            "description": "Whether the user has a saved meal plan"
          }
        },
        "required": [
          "userId",
          "recipeCount",
          "hasMealPlan"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/auth/login": {
      "get": {
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Frontend URL to return to after login; must be in the allowed origin list"
            },
            "required": false,
            "description": "Frontend URL to return to after login; must be in the allowed origin list",
            "name": "redirect_uri",
            "in": "query"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects the browser to the Cognito hosted UI authorize endpoint. Sets oauth_state, oauth_nonce and oauth_redirect cookies."
          }
        }
      }
    },
    "/auth/callback": {
      "get": {
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Authorization code returned by Cognito"
            },
            "required": false,
            "description": "Authorization code returned by Cognito",
            "name": "code",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Must match the oauth_state cookie set during login"
            },
            "required": false,
            "description": "Must match the oauth_state cookie set during login",
            "name": "state",
            "in": "query"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects to the stored frontend URL on success (with a session cookie set), or to the same URL with ?error=auth_failed on failure."
          }
        }
      }
    },
    "/auth/session": {
      "get": {
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "email"
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "redirect_uri",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Logged out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "cognitoLogoutUrl": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "cognitoLogoutUrl"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/recommendations/{id}": {
      "get": {
        "tags": [
          "recommendations"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Recommendation retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendations": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "$ref": "#/components/schemas/Recommendation"
                      }
                    },
                    "hasEmail": {
                      "type": "boolean"
                    },
                    "isRecurringMonthly": {
                      "type": "boolean"
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "recommendations",
                    "hasEmail",
                    "isRecurringMonthly",
                    "requestId",
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Recommendation not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "success"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unable to create recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/recommendations/add-email": {
      "post": {
        "tags": [
          "recommendations"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "recurring": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ]
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            false
                          ]
                        },
                        "error": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "error"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            false
                          ]
                        },
                        "error": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "error"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Recommendation not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            false
                          ]
                        },
                        "error": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "error"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/recommendations/delete-email": {
      "post": {
        "tags": [
          "recommendations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "requestId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/recommendations/from-bookcase": {
      "post": {
        "tags": [
          "recommendations"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "bookcase": {
                    "type": "string",
                    "format": "binary",
                    "description": "One or more bookcase images. Multiple files can be uploaded with the same field name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recommendation request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "No files uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "success"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Failed to queue recommendation processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/queue-due-recommendations": {
      "get": {
        "tags": [
          "cron"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "API key for authentication"
            },
            "required": true,
            "description": "API key for authentication",
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "204": {
            "description": "Recommendations queued successfully"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/reextract-recurring-books": {
      "get": {
        "tags": [
          "cron"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "API key for authentication"
            },
            "required": true,
            "description": "API key for authentication",
            "name": "x-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Books extracted for recurring users' unprocessed images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalImages": {
                      "type": "number"
                    },
                    "processedImages": {
                      "type": "number"
                    },
                    "failures": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "totalImages",
                    "processedImages",
                    "failures"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/profile/{requestId}": {
      "get": {
        "tags": [
          "profile"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "requestId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "contentType": {
                            "type": "string"
                          },
                          "extractedBooks": {
                            "type": "array",
                            "nullable": true,
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "author": {
                                  "type": "string",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "title",
                                "author"
                              ]
                            }
                          },
                          "processedUtc": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "contentType",
                          "extractedBooks",
                          "processedUtc"
                        ]
                      }
                    },
                    "customPreferences": {
                      "type": "string",
                      "nullable": true
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "images",
                    "customPreferences",
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/profile/{requestId}/images/{imageId}": {
      "get": {
        "tags": [
          "profile"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "requestId",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer"
            },
            "required": true,
            "name": "imageId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Image retrieved successfully",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "profile"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "requestId",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer"
            },
            "required": true,
            "name": "imageId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Image deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/profile/{requestId}/images": {
      "post": {
        "tags": [
          "profile"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "requestId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "bookcase": {
                    "type": "string",
                    "format": "binary",
                    "description": "One or more additional bookcase images."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Images added and recommendations queued for regeneration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imagesAdded": {
                      "type": "number"
                    },
                    "recommendationId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "imagesAdded",
                    "recommendationId",
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "No files uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "success"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Failed to queue recommendation processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/profile/{requestId}/preferences": {
      "post": {
        "tags": [
          "profile"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "requestId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "customPreferences": {
                    "type": "string",
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preferences updated and recommendations queued for regeneration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendationId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "recommendationId",
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Preferences don't look like a reading preference",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "success"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Failed to queue recommendation processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/profile/{requestId}/recommendations": {
      "get": {
        "tags": [
          "profile"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "requestId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent recommendations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "createdUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "processedUtc": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "createdUtc",
                          "processedUtc"
                        ]
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "recommendations",
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Request not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mcp/auth/token": {
      "post": {
        "tags": [
          "mcp"
        ],
        "description": "Exchange a Cognito JWT for a long-lived MCP JWT token",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "MCP JWT token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "JWT token for MCP authentication"
                    },
                    "userId": {
                      "type": "string",
                      "description": "User ID"
                    }
                  },
                  "required": [
                    "token",
                    "userId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mise/recipes": {
      "get": {
        "tags": [
          "mise",
          "recipes"
        ],
        "description": "Get all recipes for the authenticated user",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Recipes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Recipe"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing JWT token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mise/recipes/search": {
      "get": {
        "tags": [
          "mise",
          "recipes"
        ],
        "description": "Search recipes by name, description, ingredients, or instructions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search query string"
            },
            "required": true,
            "description": "Search query string",
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "name,description,ingredients,instructions",
              "description": "Comma-separated fields to search: name,description,ingredients,instructions"
            },
            "required": false,
            "description": "Comma-separated fields to search: name,description,ingredients,instructions",
            "name": "fields",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Recipe UUID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Recipe name"
                          },
                          "description": {
                            "type": "string",
                            "description": "Recipe description"
                          },
                          "ingredients": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Flattened list of ingredient names"
                          }
                        },
                        "required": [
                          "uuid",
                          "name",
                          "description",
                          "ingredients"
                        ]
                      },
                      "description": "Array of matching recipes"
                    },
                    "count": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Number of results returned"
                    }
                  },
                  "required": [
                    "results",
                    "count"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing JWT token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mise/recipes/{uuid}": {
      "delete": {
        "tags": [
          "mise",
          "recipes"
        ],
        "description": "Delete a recipe for the authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Recipe UUID to delete"
            },
            "required": true,
            "description": "Recipe UUID to delete",
            "name": "uuid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Recipe deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether delete was successful"
                    },
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "UUID of deleted recipe"
                    }
                  },
                  "required": [
                    "success",
                    "uuid"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing JWT token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mise/meal-plan": {
      "get": {
        "tags": [
          "mise",
          "meal-plan"
        ],
        "description": "Get the meal plan for the authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Meal plan retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MealPlan"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing JWT token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "mise",
          "meal-plan"
        ],
        "description": "Update the meal plan for the authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MealPlan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Meal plan updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether update was successful"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing JWT token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mise/shopping-list": {
      "get": {
        "tags": [
          "mise",
          "shopping-list"
        ],
        "description": "Get aggregated shopping list from recipes in the meal plan, optionally filtered by date range",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ],
              "description": "Array of Unix timestamps (milliseconds) to include in shopping list"
            },
            "required": false,
            "description": "Array of Unix timestamps (milliseconds) to include in shopping list",
            "name": "dates",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Shopping list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ingredient": {
                        "type": "string",
                        "description": "Name of the ingredient"
                      },
                      "quantities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number",
                              "description": "Quantity value"
                            },
                            "unit": {
                              "type": "string",
                              "description": "Unit of measurement"
                            }
                          },
                          "required": [
                            "unit"
                          ]
                        },
                        "description": "Array of quantities with units"
                      },
                      "category": {
                        "type": "string",
                        "description": "Shopping category for the ingredient"
                      },
                      "meals": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of meals this ingredient belongs to"
                      }
                    },
                    "required": [
                      "ingredient",
                      "quantities",
                      "category",
                      "meals"
                    ]
                  },
                  "description": "Array of shopping list items with ingredient, quantity, and category"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing JWT token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mise/s3/signed-url": {
      "post": {
        "tags": [
          "mise",
          "s3"
        ],
        "description": "Generate a signed GET URL for downloading files from S3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "S3 object key"
                  }
                },
                "required": [
                  "key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed GET URL generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signedUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Signed GET URL valid for download"
                    }
                  },
                  "required": [
                    "signedUrl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mise/s3/upload": {
      "post": {
        "tags": [
          "mise",
          "s3"
        ],
        "description": "Generate a signed PUT URL for uploading files to S3",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fileName": {
                    "type": "string",
                    "description": "Original filename"
                  },
                  "contentType": {
                    "type": "string",
                    "description": "MIME type (e.g., \"image/jpeg\")"
                  }
                },
                "required": [
                  "fileName",
                  "contentType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed PUT URL generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signedUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Signed PUT URL valid for upload"
                    },
                    "key": {
                      "type": "string",
                      "description": "S3 object key where file will be stored"
                    }
                  },
                  "required": [
                    "signedUrl",
                    "key"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing JWT token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mise/s3/delete": {
      "post": {
        "tags": [
          "mise",
          "s3"
        ],
        "description": "Delete a file from S3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "S3 object key to delete"
                  }
                },
                "required": [
                  "key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether delete was successful"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mise/parse-recipe": {
      "post": {
        "tags": [
          "mise",
          "recipes"
        ],
        "description": "Parse natural language recipe text and save to the user account",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipeText": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Natural language recipe text to parse"
                  },
                  "recipeId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Recipe UUID for editing existing recipes"
                  },
                  "imageKey": {
                    "type": "string",
                    "description": "S3 key of the image to associate with this recipe (from presigned upload endpoint)"
                  }
                },
                "required": [
                  "recipeText"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipe parsed and saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipe"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing JWT token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tfl/stations": {
      "get": {
        "tags": [
          "tfl"
        ],
        "description": "List every tube station and the lines that serve it. Intended to be fetched once and cached client-side rather than queried per search.",
        "responses": {
          "200": {
            "description": "Every tube station with the lines serving it",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "TfL StopPoint ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Station name"
                          },
                          "lines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "lineId": {
                                  "type": "string",
                                  "description": "TfL Line ID"
                                },
                                "lineName": {
                                  "type": "string",
                                  "description": "Line name"
                                }
                              },
                              "required": [
                                "lineId",
                                "lineName"
                              ]
                            },
                            "description": "Lines serving this station"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "lines"
                        ]
                      }
                    }
                  },
                  "required": [
                    "stations"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tfl/arrivals": {
      "get": {
        "tags": [
          "tfl"
        ],
        "description": "Get the next arrivals for a line at a station",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "TfL StopPoint ID"
            },
            "required": true,
            "description": "TfL StopPoint ID",
            "name": "stopPointId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "TfL line ID, e.g. \"victoria\""
            },
            "required": true,
            "description": "TfL line ID, e.g. \"victoria\"",
            "name": "lineId",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 3,
              "description": "Maximum number of arrivals to return"
            },
            "required": false,
            "description": "Maximum number of arrivals to return",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Next arrivals for the station",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "arrivals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lineId": {
                            "type": "string"
                          },
                          "lineName": {
                            "type": "string"
                          },
                          "platformName": {
                            "type": "string"
                          },
                          "direction": {
                            "type": "string"
                          },
                          "destinationName": {
                            "type": "string"
                          },
                          "timeToStationSeconds": {
                            "type": "number",
                            "description": "Seconds until arrival"
                          },
                          "expectedArrival": {
                            "type": "string",
                            "description": "ISO timestamp of expected arrival"
                          },
                          "currentLocation": {
                            "type": "string",
                            "description": "Human-readable current position of the train, e.g. \"At Green Park\""
                          }
                        },
                        "required": [
                          "lineId",
                          "lineName",
                          "platformName",
                          "direction",
                          "destinationName",
                          "timeToStationSeconds",
                          "expectedArrival",
                          "currentLocation"
                        ]
                      }
                    }
                  },
                  "required": [
                    "arrivals"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/flights/area": {
      "get": {
        "tags": [
          "flights"
        ],
        "description": "Get live aircraft positions within a geographical bounding box",
        "parameters": [
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "minimum": -90,
              "maximum": 90,
              "description": "Southern edge of the search box"
            },
            "required": false,
            "description": "Southern edge of the search box",
            "name": "minLatitude",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "minimum": -90,
              "maximum": 90,
              "description": "Northern edge of the search box"
            },
            "required": false,
            "description": "Northern edge of the search box",
            "name": "maxLatitude",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "minimum": -180,
              "maximum": 180,
              "description": "Western edge of the search box"
            },
            "required": false,
            "description": "Western edge of the search box",
            "name": "minLongitude",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "minimum": -180,
              "maximum": 180,
              "description": "Eastern edge of the search box"
            },
            "required": false,
            "description": "Eastern edge of the search box",
            "name": "maxLongitude",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Aircraft currently within the bounding box",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "aircraft": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "icao24": {
                            "type": "string",
                            "description": "24-bit ICAO transponder address, e.g. \"4ca7b3\""
                          },
                          "callsign": {
                            "type": "string",
                            "nullable": true,
                            "description": "Callsign currently broadcast by the aircraft"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "onGround": {
                            "type": "boolean"
                          },
                          "altitudeMeters": {
                            "type": "number",
                            "nullable": true,
                            "description": "Barometric altitude in meters"
                          },
                          "velocityMetersPerSecond": {
                            "type": "number",
                            "nullable": true
                          },
                          "headingDegrees": {
                            "type": "number",
                            "nullable": true,
                            "description": "True track in degrees, 0 is north"
                          },
                          "verticalRateMetersPerSecond": {
                            "type": "number",
                            "nullable": true
                          }
                        },
                        "required": [
                          "icao24",
                          "callsign",
                          "latitude",
                          "longitude",
                          "onGround",
                          "altitudeMeters",
                          "velocityMetersPerSecond",
                          "headingDegrees",
                          "verticalRateMetersPerSecond"
                        ]
                      }
                    }
                  },
                  "required": [
                    "aircraft"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "An upstream provider rate limit was reached; retry after retryAfterSeconds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "retryAfterSeconds": {
                      "type": "number",
                      "description": "How long to wait before trying again"
                    }
                  },
                  "required": [
                    "error",
                    "retryAfterSeconds"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/flights/search": {
      "get": {
        "tags": [
          "flights"
        ],
        "description": "Search for flights by flight number, e.g. to find where a specific plane is",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Flight number, e.g. \"BA123\""
            },
            "required": true,
            "description": "Flight number, e.g. \"BA123\"",
            "name": "flightNumber",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Flights matching the given flight number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "flights": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "faFlightId": {
                            "type": "string",
                            "description": "Opaque identifier to pass to the flight details endpoint"
                          },
                          "ident": {
                            "type": "string"
                          },
                          "operator": {
                            "type": "string",
                            "nullable": true,
                            "description": "Operating airline"
                          },
                          "aircraftType": {
                            "type": "string",
                            "nullable": true
                          },
                          "registration": {
                            "type": "string",
                            "nullable": true
                          },
                          "origin": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "code": {
                                "type": "string",
                                "nullable": true,
                                "description": "ICAO airport code, e.g. \"EGLL\""
                              },
                              "iataCode": {
                                "type": "string",
                                "nullable": true,
                                "description": "IATA airport code as shown to passengers, e.g. \"LHR\"; null for many small airfields"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "city": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "code",
                              "iataCode",
                              "name",
                              "city"
                            ]
                          },
                          "destination": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "code": {
                                "type": "string",
                                "nullable": true,
                                "description": "ICAO airport code, e.g. \"EGLL\""
                              },
                              "iataCode": {
                                "type": "string",
                                "nullable": true,
                                "description": "IATA airport code as shown to passengers, e.g. \"LHR\"; null for many small airfields"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "city": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "code",
                              "iataCode",
                              "name",
                              "city"
                            ]
                          },
                          "status": {
                            "type": "string"
                          },
                          "scheduledOut": {
                            "type": "string",
                            "nullable": true
                          },
                          "estimatedOut": {
                            "type": "string",
                            "nullable": true
                          },
                          "actualOut": {
                            "type": "string",
                            "nullable": true
                          },
                          "scheduledIn": {
                            "type": "string",
                            "nullable": true
                          },
                          "estimatedIn": {
                            "type": "string",
                            "nullable": true
                          },
                          "actualIn": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "faFlightId",
                          "ident",
                          "operator",
                          "aircraftType",
                          "registration",
                          "origin",
                          "destination",
                          "status",
                          "scheduledOut",
                          "estimatedOut",
                          "actualOut",
                          "scheduledIn",
                          "estimatedIn",
                          "actualIn"
                        ]
                      }
                    }
                  },
                  "required": [
                    "flights"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "An upstream provider rate limit was reached; retry after retryAfterSeconds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "retryAfterSeconds": {
                      "type": "number",
                      "description": "How long to wait before trying again"
                    }
                  },
                  "required": [
                    "error",
                    "retryAfterSeconds"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "501": {
            "description": "FlightAware is not configured yet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/flights/details": {
      "get": {
        "tags": [
          "flights"
        ],
        "description": "Get full details for a specific aircraft, combining its live position with route/airline information",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "24-bit ICAO transponder address from the area search"
            },
            "required": true,
            "description": "24-bit ICAO transponder address from the area search",
            "name": "icao24",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Callsign from the area search, used to look up route/airline details"
            },
            "required": false,
            "description": "Callsign from the area search, used to look up route/airline details",
            "name": "callsign",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Combined position and route details for the aircraft",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icao24": {
                      "type": "string"
                    },
                    "callsign": {
                      "type": "string",
                      "nullable": true
                    },
                    "airline": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ICAO airline code, e.g. \"BAW\""
                        },
                        "name": {
                          "type": "string",
                          "nullable": true,
                          "description": "Airline name, null when it could not be looked up"
                        }
                      },
                      "required": [
                        "code",
                        "name"
                      ],
                      "description": "Operating airline, from the matched route or the callsign prefix; null for non-airline callsigns"
                    },
                    "position": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "latitude": {
                          "type": "number"
                        },
                        "longitude": {
                          "type": "number"
                        },
                        "onGround": {
                          "type": "boolean"
                        },
                        "altitudeMeters": {
                          "type": "number",
                          "nullable": true
                        },
                        "velocityMetersPerSecond": {
                          "type": "number",
                          "nullable": true
                        },
                        "headingDegrees": {
                          "type": "number",
                          "nullable": true
                        },
                        "verticalRateMetersPerSecond": {
                          "type": "number",
                          "nullable": true
                        }
                      },
                      "required": [
                        "latitude",
                        "longitude",
                        "onGround",
                        "altitudeMeters",
                        "velocityMetersPerSecond",
                        "headingDegrees",
                        "verticalRateMetersPerSecond"
                      ]
                    },
                    "route": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "faFlightId": {
                          "type": "string"
                        },
                        "operator": {
                          "type": "string",
                          "nullable": true,
                          "description": "ICAO code of the operating airline"
                        },
                        "aircraftType": {
                          "type": "string",
                          "nullable": true
                        },
                        "registration": {
                          "type": "string",
                          "nullable": true
                        },
                        "origin": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "code": {
                              "type": "string",
                              "nullable": true,
                              "description": "ICAO airport code, e.g. \"EGLL\""
                            },
                            "iataCode": {
[...]
